[scripts]
dev = "python -m scripts.run --mode=dev"
prod = "python -m scripts.run --mode=prod"
docker = "python -m scripts.run --mode=docker"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pymongo = "*"
uvicorn = {extras = ["standard"], version = "*"}
fire = "*"
motor = "*"
gunicorn = "*"
pydantic = {extras = ["email"], version = "*"}
devtools = {extras = ["pygments"], version = "*"}

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.9"
